<!-- header -->
<header class="header">
  <div class="site-navigation wrapper sub-header">
    <a href="{{ shop.url }}" class="site-navigation__logo">
      <img class="site-navigation__logo__img" src="{{ 'logo.svg' | asset_url }}" alt="Kabawatch logo"/>
    </a>
    <div class="site-navigation__tools">
      <ul class="site-navigation__menu">
        <li class="site-navigation__menu__item"><a href="{{ shop.url }}">Shop</a></li>
        <li class="site-navigation__menu__item"><a href="/pages/about">About</a></li>
        <li class="site-navigation__menu__item"><a href="/pages/contact">Contact</a></li>
      </ul>
      <a class="site-navigation__tools__cart" href="{{ routes.cart_url }}"><span id="cart-counter" class="site-navigation__tools__cart__counter">{{ cart.item_count }}</span><br>items in cart</a>
      <div class="menu-button js-toggle-menu"><span class="menu-button__icon"></span></div>
    </div>
  </div>
  <div class="shop-filter wrapper sub-header">
    <ul class="shop-filter__categories list--horizontal">
      {% for link in linklists.categories.links %}
        {% assign child_list_handle = link.title | handleize %}
        <li class="shop-filter__categories__item {% if template contains 'collection' and link.title == collection.title %} is-selected {% endif %}">
          <a href="{{ link.url }}/">{{ link.title }}</a>
          <span class="shop-filter__categories__item__arrow"></span>
        </li>
      {% endfor %}
    </ul>
    {% if template == 'index' or template == 'collection' %}
      <div class="shop-filter__advanced js-toggle-advanced-filter"><span class="shop-filter__advanced__capitals">Filter</span><br>Advanced</div>
    {% endif %}
  </div>
</header>

<!-- menu overlay -->
<div class="menu-overlay">
  <div class="site-navigation wrapper sub-header">
    <div class="site-navigation__tools">
      <div class="site-navigation__tools__cart js-toggle-cart-overlay"><span class="site-navigation__tools__cart__counter">{{ cart.item_count }}</span><br>items in cart</div>
      <div class="close-button js-toggle-menu"><span class="close-button__icon"></span></div>
    </div>
  </div>
  <nav class="main-navigation wrapper">
    <ul class="main-navigation__list">
      <li class="main-navigation__list__item"><a href="{{ shop.url }}">Shop</a></li>
      <li class="main-navigation__list__item"><a href="/pages/about">About</a></li>
      <li class="main-navigation__list__item"><a href="/pages/contact">Contact</a></li>
    </ul>
  </nav>
</div>

<!-- filter overlay -->
<div class="advanced-filter-overlay">
  <div class="advanced-filter-overlay__top-bar">
    <div class="close-button js-toggle-advanced-filter"><span class="close-button__icon"></span></div>
  </div>
  <div class="advanced-filter-overlay__filters">

    <div id="sort-by-container" class="advanced-filter-overlay__filters__filter-group js-sort">
      <h2 class="advanced-filter-overlay__filters__filter-group__label">Sort by:</h2>
      <a href="?sort_by=price-ascending">Price: Low - High</a>
      <a href="?sort_by=price-descending">Price: High - Low</a>
      <a href="?sort_by=title-ascending">A-Z</a>
      <a href="?sort_by=title-descending">Z-A</a>
    </div>

    {% if template == 'index' %}
      {% assign collection = collections.all %}
    {% endif %}
    {% if template == 'index' or template contains 'collection' %}
      <!-- A recursive loop to catch and filter out the different tag categories -->
      {% assign c = 0 %}
      {% for t in collection.all_tags %}
      {% capture cat %}{{ cat }}{% capture temp_cat %}{% if t contains '_' %}{% assign cat_grp = t | split: '_' %}{{ cat_grp.first }}{% endif %}{% endcapture %}{% unless cat contains temp_cat %}{% if t contains '_' %}{% assign new_cat_grp = t | split: '_' %}{{ new_cat_grp.first }}{% endif %}{% unless forloop.last %}+{% endunless %}{% assign c = c | plus: 1 %}{% endunless %}{% endcapture %}
      {% endfor %}

      <!-- create array of tag categories -->
      {% assign cat_array = cat | split: '+' %}

      <!-- loop through tag categories -->
      {% for i in cat_array %}
        <!-- ignore if tag category is empty -->
        {% unless i == '' %}
        <div class="advanced-filter-overlay__filters__filter-group js-filter">
          <h2 class="advanced-filter-overlay__filters__filter-group__label">{{ i }}</h2>
          <!-- loop through collection tags -->
      	  {% for t in collection.all_tags %}
        	  <!-- if tag contains the category title -->
        	  {% if t contains i %}
          	  <!-- strip out tag category prefix and add/remove link for tag filtering -->
          	  {{ t | remove: i | remove: '_' | link_to_add_tag: t }}
        	  {% endif %}
      	  {% endfor %}
        </div>
        {% endunless %}
      {% endfor %}

    {% endif %}

    <div class="bottom-bar">
      <button class="cta js-toggle-advanced-filter">Apply filters</button>
    </div>

  </div>
</div>
