<!-- header -->
<header class="header">
  <div class="site-navigation wrapper sub-header">
    <a href="{{ shop.url }}" class="site-navigation__logo">Kabawatch</a>
    <div class="site-navigation__tools">
      <a class="site-navigation__tools__cart" href="{{ routes.cart_url }}"><span id="cart-counter" class="site-navigation__tools__cart__counter">{{ cart.item_count }}</span><br>items in cart</a>
      <div class="menu-button js-toggle-menu"><span class="menu-button__icon"></span></div>
    </div>
  </div>
  <div class="shop-filter wrapper sub-header">
    <ul class="shop-filter__categories list--horizontal">
      {% for link in linklists.categories.links %}
        {% assign child_list_handle = link.title | handleize %}
        <li class="shop-filter__categories__item {% if template contains 'collection' and link.title == collection.title %} is-selected {% endif %}">
          <a href="{{ link.url }}">{{ link.title }}</a>
          <span class="shop-filter__categories__item__arrow"></span>
        </li>
      {% endfor %}
    </ul>
    <div class="shop-filter__advanced js-toggle-advanced-filter"><span class="shop-filter__advanced__capitals">Filter</span><br>Advanced</div>
  </div>
</header>

<!-- menu overlay -->
<div class="menu-overlay">
  <div class="site-navigation wrapper sub-header">
    <div class="site-navigation__tools">
      <div class="site-navigation__tools__cart js-toggle-cart-overlay"><span class="site-navigation__tools__cart__counter">{{ cart.item_count }}</span><br>items in cart</div>
      <div class="close-button js-toggle-menu"><span class="close-button__icon"></span></div>
    </div>
  </div>
  <nav class="main-navigation wrapper">
    <ul class="main-navigation__list">
      <li class="main-navigation__list__item"><a href="{{ shop.url }}">Shop</a></li>
      <li class="main-navigation__list__item"><a href="about.html">About</a></li>
      <li class="main-navigation__list__item"><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</div>

<!-- cart overlay
<div class="cart-overlay">
  <div class="cart-overlay__top-bar wrapper">
    <a href="{{ shop.url }}" class="site-navigation__logo">Kabawatch</a>
    <div class="site-navigation__tools">
      <div class="site-navigation__tools__cart js-toggle-cart-overlay"><span id="cart-counter" class="site-navigation__tools__cart__counter">{{ cart.item_count }}</span><br>items in cart</div>
      <div class="close-button js-toggle-cart-overlay"><span class="close-button__icon"></span></div>
    </div>
  </div>
  <section class="cart">
    <h1>Your cart</h1>
    <ul class="cart__list">
      <li class="cart__list__item">
        <div class="cart__list__item__visual">
          <img class="cart__list__item__visual__img" src="assets/img/watch.jpeg"/>
        </div>
        <div class="cart__list__item__text">
          <h2>Sjieke naam</h2>
          <h3>$wag merk</h3>
          <h4>€ 9999</h4>
        </div>
      </li>
      <li class="cart__list__item">
        <div class="cart__list__item__visual">
          <img class="cart__list__item__visual__img" src="assets/img/watch.jpeg"/>
        </div>
        <div class="cart__list__item__text">
          <h2>Sjieke naam</h2>
          <h3>$wag merk</h3>
          <h4>€ 9999</h4>
        </div>
      </li>
    </ul>
    <div class="bottom-bar">
      <div class="cart__sub-total">
        <h2 class="cart__sub-total__title">Subtotal</h2><h2 class="cart__sub-total__number">€ 19998</h2>
      </div>
      <div class="input-submit wrapper">
        <input class="cta" type="submit" value="Check out">
      </div>
    </div>
  </section>
</div>-->

<!-- filter overlay -->
<div class="advanced-filter-overlay">
  <div class="advanced-filter-overlay__top-bar">
    <div class="close-button js-toggle-advanced-filter"><span class="close-button__icon"></span></div>
  </div>
  <div class="advanced-filter-overlay__filters">

    <div id="sort-by-container"></div>

    {% if template contains 'collection' and collection.all_tags.size > 1 %}

      <!-- A recursive loop to catch and filter out the different tag categories -->
      {% assign c = 0 %}
      {% for t in collection.all_tags %}
      {% capture cat %}{{ cat }}{% capture temp_cat %}{% if t contains '_' %}{% assign cat_grp = t | split: '_' %}{{ cat_grp.first }}{% endif %}{% endcapture %}{% unless cat contains temp_cat %}{% if t contains '_' %}{% assign new_cat_grp = t | split: '_' %}{{ new_cat_grp.first }}{% endif %}{% unless forloop.last %}+{% endunless %}{% assign c = c | plus: 1 %}{% endunless %}{% endcapture %}
      {% endfor %}

      <!-- create array of tag categories -->
      {% assign cat_array = cat | split: '+' %}

      <!-- loop through tag categories -->
      {% for i in cat_array %}
      <!-- ignore if tag category is empty -->
      {% unless i == '' %}
      <h5>Filter by {{ i }}</h5>
      <ul class="nav">
        <!-- loop through collection tags -->
    	  {% for t in collection.all_tags %}
    	  <!-- if tag contains the category title -->
    	  {% if t contains i %}
    	  <!-- strip out tag category prefix and add/remove link for tag filtering -->
    	  {% if current_tags contains t %}
    	  <li>{{ t | remove: i | remove: '_' | append: '&nbsp;x' | link_to_remove_tag: t }}</li>
    	  {% else %}
    	  <li>{{ t | remove: i | remove: '_' | link_to_add_tag: t }}</li>
    	  {% endif %}
    	  {% endif %}
    	  {% endfor %}
      </ul>
      {% endunless %}
      {% endfor %}

    {% endif %}

  </div>
</div>
