{% if cart.item_count > 0 %}
  <section class="cart wrapper">
    <h1>Your cart</h1>
    <form action="/cart" method="post" novalidate>
      <ul class="cart__list">
        {% for item in cart.items %}
        <li class="cart__list__item">
          <div class="cart__list__item__visual">
            <img class="cart__list__item__visual__img" src="{{ item | img_url: 'large' }}" alt="{{ item.title | escape }}"/>
          </div>
          <div class="cart__list__item__meta">
            <div class="cart__list__item__meta__text">
              <h2>{{ item.product.title }}</h2>
              <h3>{{ item.product.vendor }}</h3>
              <h4>{{ item.price | money }}</h4>
              {% assign hide_default_title = true %}
              {% if item.product.variants.size == 1 and item.product.variants.first.title contains 'Default' %}
                {% assign hide_default_title = false %}
              {% endif %}
              {% if hide_default_title %}
                <span class="cart__list__item__meta__text__variant">{{ item.variant.title }}</span>
              {% endif %}
            </div>
            <div class="cart__list__item__meta__tools">
              <div class="hidden-input-group">
                <a href="{{ item.url }}">{{ item.product.title }}</a>
              </div>
              <div class="number-input-group">
                <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
              </div>
              <button class="cart__list__item__meta__tools__cta" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Update</button>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="bottom-bar">
        <div class="cart__sub-total">
          <h2 class="cart__sub-total__title">Subtotal</h2><h2 class="cart__sub-total__number">{{ cart.total_price | money }}</h2>
        </div>
        <div class="cart__checkout">
          <button class="cta cart__checkout__btn" type="submit" name="checkout">Check out</button>
        </div>
      </div>
    </form>
  </section>
{% else %}
<section class="cart wrapper">
  <h1>Your cart is empty.</h1>
  <a href="{{ shop.url }}" class="cta">Browse shop</a>
</section>
{% endif %}
