<section id="index__shop" class="shop">
  <div id="product-container" class="shop__list">
    {% for product in collections['all'].products %}
      <a href="{{ product.url | within: collection }}" class="shop__list__item">
        <div class="shop__list__item__visual">
          <div class="shop__list__item__visual__holder">
            <img class="shop__list__item__visual__holder__img" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"/>
          </div>
        </div>
        <div class="shop__list__item__text">
          <h2>{{ product.title }}</h2>
          <h3>{{ product.vendor }}</h3>
          <h4>{{ product.price | money }}</h4>
          {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
          <p>{{ product.metafields.global.description_tag }}</p>
        </div>
      </a> 
    {% endfor %}
  </div>
</section>
<!-- footer -->
<footer class="footer wrapper">
  <a href="#" class="footer__logo">Kabawatch</a>
</footer>
